@import "../../styles/variables";

.menu_container .cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu_container .cards .card img {
    width: 150px;
   
}
.menu_container .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu_container .cards .card .title {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 3px;
    font-weight: 700;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: $white-color;
}

.menu_container .cards .card .ingre {
    color: $white-color;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    box-sizing: border-box;
}
.menu_container .cards .card .prix {
    margin-top: 10px;
    color: $white-color;
    text-align: center;
    font-size: 24px;
  letter-spacing: 3px;
}
.menu_container .cards .card:hover .title {
    color: $hover-color;
}