
@import "../../styles/variables" ;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


.footer {
    padding: 20px 10px;
    margin-top: 20px;
    color: $white-color;
    background : $black-color;

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 150px;
    }
    .tel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
    .loc {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .copy {
        margin-top: 15px;
        font-weight: 400;
        text-align: center;
    }
    svg {
        color: $hover-color;
        font-size: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}