@import "../../styles/variables";

.nav {
    background-color: #121618;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;

    .logo_container .logo {
        width: 100px;
        height: 100px;
    }

    .tel_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .right .info {
            color: $white-color;
        }

        .tel {
            width: 80px;
            height: 80px;
        }
    }

    .menu ul {
        color: $white-color;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 5em;
    }
}

/*responsive */
@media (max-width: 768px) {
    .nav {
        display: none;
    }
    
}